.footer {
    background-color: #0a4d68;
    margin-bottom: 24px;
    padding: 12px;
    border-radius: 12px;
}
.footer__name {
    color: #f2921f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}